
/* Блок шапки */
.logo{
  width: 201px;
  height: 260px;
  background: #fff url('../images/logo.png') center left -7px no-repeat;
}

/* блок формы ввода*/
.login-form{
}

/* Заголовок формы ввода */
.login-form__header{
  width: 250px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3px;
}

/* Метка формы ввода */
.login-form__label{
  display: block;
  padding: 14px 0 7px 0;
  font-size: 14px;
}

/* Поле формы ввода */
.login-form__input{
  display: block;
  width: 250px;
  height: 33px;
  border: 2px solid black;
  border-radius: 4px;
}

.login-form__input:focus{
  border:2px solid #A23A99;
  outline-color: #A23A99;
}

/*кнопка формы ввода*/
.login-form__btn{
  background-color: white;
  font-weight: bold;
  width: 125px;
  height:40px;
  border: 3px solid black;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  outline:none;
  box-shadow: 6px 6px 0;
}

.login-form__btn:hover{
  box-shadow: 3px 3px 0;
}
.login-form__btn:active{
  box-shadow: none;
}

@media screen and (min-width:1024px) {
  .logo{
    position: relative;
    top:250px;
  }
  .login-form{
    margin: auto;
    width: 25%;
  }
}
